:root {
    --shadow: rgb(169, 169, 169);
    --transsadow: rgba(128, 128, 128, 0.418);
    --accent: hwb(111deg 82% 2%);
    --gradient: radial-gradient(#d7fda1, #62c291 100%);
}

* {
    margin: 0;
    box-sizing: border-box;
}

.empty {
    height: 55px;
}

/* chat start */
.chat {
    background-color: #edfeeb;
    position: relative;
    min-height: 90vh;
    bottom: 55px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    z-index: -1;
    overflow: auto;
}

.chat div {
    background-color: var(--accent);
    padding: 5px;
    margin: 10px;
    max-width: 70%;
    border-radius: 4px 0 4px 4px;
    box-shadow: 1px 2px var(--shadow);
    position: relative;
    padding-right: 30px;
}

.chat span {
    position: absolute;
    font-size: 10px;
    color: gray;
    bottom: 3px;
    right: 2px;
}

/* chat end */

/* message */
.message {
    background-color: var(--accent);
    background-image: var(--gradient);
    box-shadow: 0 -5px 1px var(--transsadow);
    padding: 10px 20px 10px 20px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
}

.message input {
    width: 100%;
    padding: 10px;
    border: 0;
}

/* message end */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(221, 221, 221);
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(#62c291 20%, #d7fda1 50%, #62c291 80%);
    border-radius: 5px;
    box-shadow: 1px 2px grey;
}