:root {
    --shadow: rgb(169, 169, 169);
    --transsadow: rgba(128, 128, 128, 0.418);
    --accent: #d7fad1;
    --bgc: #edfeeb;
    --darkaccent: #62c291;
    --gradient: linear-gradient(to bottom right, #d7fda1 0%, #62c291 30%);
}

* {
    margin: 0;
    box-sizing: border-box;
}

/* chat area start*/
.msgcontainer {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: var(--bgc);
}

.chat {
    height: auto;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow-y: auto;
}

.chat div.user {
    background-color: var(--accent);
    padding: 5px;
    margin: 10px;
    max-width: 70%;
    border-radius: 4px 0 4px 4px;
    box-shadow: 1px 2px var(--shadow);
    position: relative;
    padding-right: 30px;
}

.chat span {
    position: absolute;
    font-size: 10px;
    color: gray;
    bottom: 3px;
    right: 2px;
}

/* chat area end */

/* message input start */
.message {
    background-color: var(--accent);
    background-image: var(--gradient);
    box-shadow: 0 -5px 1px var(--transsadow);
    padding: 10px 20px 10px 20px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
}

.message input {
    width: 100%;
    padding: 10px;
    border: 0;
    border-radius: 10px 10px 10px 10px;
}

.message button {
    min-width: 10%;
    width: 80px;
    margin-left: 3px;
    border-radius: 10px 10px;
    background-color: #62c291;
    color: white;
    border: solid;
}

.message button:hover {
    color: #62c291;
    background-color: white;
    border: solid;
}

/* message input end */

/* scroll start */
.chat::-webkit-scrollbar {
    width: 5px;
}

.chat::-webkit-scrollbar-track {
    background: rgb(221, 221, 221);
}

.chat::-webkit-scrollbar-thumb {
    background-image: linear-gradient(#62c291 20%, #6bf450 50%, #62c291 80%);
    border-radius: 5px;
    box-shadow: 1px 2px grey;
}

/* scroll end */