body {
    background-color: lightblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    margin-top: 0;
    text-align: center;
    color: blueviolet;
}

header {
    background-color: palegreen;
}

p {
    text-align: justify;
    width: fit-content;
}

.center {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.foto {
    display: flex;
    background-color: rgb(124, 235, 142);
    border-radius: 20px 0 20px 0;
    box-shadow: 10px 10px slateblue;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 20px;
}

.foto img {
    max-width: 24%;
    min-width: 200px;
    align-self: center;
    margin: 5px;
}

.cod {
    margin: auto;
    width: fit-content;
    background-color: rgb(124, 235, 142);
    color: blueviolet;
    border: goldenrod dashed 3px;
    text-align: center;
    font-weight: bolder;
    padding: 5px;
}

.promo {
    text-align: center;
    color: red;
    position: relative;
}


/* table */

table {
    margin: 20px;
    border-collapse: collapse;
    color: saddlebrown;
    font-weight: 800;
}

th {
    background-color: seagreen;
    color: white;
    border: seagreen 2px solid;
}

td {
    border: seagreen 2px solid;
}

td,
th {
    padding: 5px;
}

tr:nth-child(even) {
    background-color: bisque;
}

tr:nth-child(odd) {
    background-color: white;
}

.harga {
    width: 130px;
}

/* khasiat */
.khasiat {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
    background-color: wheat;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    column-count: 2;
    width: 100%;
}

.khasiat li {
    background-color: teal;
    color: white;
    font-weight: 500;
    padding: 10px;
    margin: 5px;
    width: 200px;
    height: 80px;
}

.khasiat span {
    font-size: 22px;
    font-weight: bolder;
}


/* jus */
.jus {
    display: flex;
    flex-wrap: wrap;
}

.jus img {
    margin-right: 20px 0 0 0;
    border: 5px dashed lightsalmon;
    align-self: center;
    justify-self: center;
}

.jus p {
    max-width: 400px;
    min-width: 300px;
    margin: 20px;
}

/* combine */

.bagian2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.container {
    flex-grow: 1;
}
/* button */
button{
    background-color: cadetblue;
    padding: 3px;
}
.button{
    display: flex;
    justify-content: center;
}