.container {
    display: flex;
    flex-direction: column;
    height: 600px;
}
.container .subcontainer {
    height: 200px;
    margin: 10px;
}

.top {
    background-color: greenyellow;
}

.subcontainer {
    flex:0 100% 100%;
    display: flex;
}

.item1, .item3{
    background-color: gold;
    flex: 0;
    flex-grow: 1;
    margin-right: 20px;
}

.item2, .item4 {
    flex-grow: 5;
}

.item2 {
    background-color: coral;
}

.item4 {
    background-color: lightblue;
}